:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --title-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --hero-background-color: #c4c4c4;
  --background-filter-buttons: #f5f4fa;
  --logo-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --portfolio-grid-gap: 30px;
  --icon-color: #afb1b8;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;

  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-color);
}

.title {
  color: var(--title-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.offer .title,
.team > .title,
.clients-section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.icon {
  fill: var(--icon-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.page-header {
  border-bottom: 1px solid var(--logo-border-color);
}

.page-header__container {
  display: flex;
  align-items: center;
}

/* Navigation */

.logo {
  color: var(--accent-color);

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo--black {
  color: var(--black-color);
}

.logo--white {
  color: var(--white-color);
}

.main-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;

  margin-left: 93px;
}

.main-nav__item {
  margin-left: 50px;
}

.main-nav__item:first-child {
 margin-left: 0;
}

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link--current {
  color: var(--accent-color);
}

.main-nav__link--current::after {
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  position: absolute;
  bottom: 0;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  margin-left: 50px;
}

.contacts__item:first-child {
  margin-left: 0;
}

.contacts__link {
  color: var(--primary-text-color);

  text-decoration: none;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  display: inline-flex;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.main-nav__link:hover,
.main-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* hero */

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);

  background-color: var(--hero-background-color);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
}

.hero__button {
  width: 216px;
  height: 60px; 
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--black-color);

  margin-bottom: 12px;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 30px;
  height: 30px;
  padding: 0;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__form {
  width: 448px;
  margin-bottom: 30px;
}

.modal__field {
  display: flex;
  flex-direction: column;
}

.modal__field {
  margin-top: 10px;
}

.modal__field:first-child {
  margin-top: 0;
}

.modal__input:focus,
.modal__input:focus + .modal__input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal__label {
  text-align: start;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__container {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment {
  padding: 12px 16px;
  height: 120px;

  resize: none;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__license {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-right: 11px;
  padding-left: 36px;
}

.modal__license-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal__license-icon {
  position: absolute;
  left: 12px;

  cursor: pointer;
}

.modal__license-icon2 {
  position: absolute;
  left: 12px;

  cursor: pointer;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__license-checkbox:checked + .modal__license-label .modal__license-icon2 {
  opacity: 1;
}

.modal__license-label {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
}

.modal__license-condition {
  color: var(--accent-color);
}



/* features */

.features__list {
  display: flex;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.features__icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-filter-buttons);
  width: 270px;
  height: 120px;
}

.features__item {
  margin-left: 30px;
}

.features__item:first-child {
  margin-left: 0;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

/* what we do */

.offer-list {
  display: flex;
}

.offer-list .item + .item {
  margin-left: 30px;
}

.offer-list .item {
  position: relative;
}

.offer-text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

/* team */

.team-section {
  background-color: var(--background-filter-buttons);
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list > .item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > .item + .item {
  margin-left: 30px;
}

.team-thumb {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.team-list .position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.17;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
}

.social-link,
.social-link .icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .item + .item {
  margin-left: 10px;
}

/* Hover для этого отдела расположены в футере */

/* Our Clients */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-link .icon,
.clients-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list > .item + .item {
  margin-left: 30px;
}

.clients-link:hover .icon,
.clients-link:focus .icon,
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* footer */

.footer-section {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  color: var(--white-color);

  text-decoration: none;
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
}

.address-item {
  width: 231px;
}

.address-list .item + .item {
  margin-top: 9px;
}

.footer-contact {
  color: var(--secondary-text-color);

  text-decoration: none;
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  margin: 0 0 0 70px;
}

.join-title,
.subscribe-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.join-item + .join-item {
  margin-left: 10px;
}

.social-link.in-footer {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--white-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--white-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-label {
  display: block;
}

.subscribe-container {
  display: flex;
  position: relative;
}

.subscribe-email {
  display: block;
  margin-right: 12px;
  padding-left: 16px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;   
  color: rgba(255, 255, 255, 0.6); 
}

.modal__submit-button,
.subscribe-button {
  width: 200px;
  height: 50px; 
}

.subscribe-button {
  padding: 10px 62px 10px 28px;
}

.subscribe-icon {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Portfolio page */

/* buttons */

.services {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 6px 22px;

  color: var(--title-color);
  background-color: var(--background-filter-buttons);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services:hover,
.services:focus {
  color: var(--white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button .item + .item {
  margin-left: 8px;
}

/* filter elements */

.element-filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--portfolio-grid-gap));
  margin-top: calc(-1 * var(--portfolio-grid-gap));
}

.element-filter .item {
  width: calc(100% / 3 - var(--portfolio-grid-gap));
  margin-left: var(--portfolio-grid-gap);
  margin-top: var(--portfolio-grid-gap);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link {
  display: block;
}

.element-filter .filter-link:hover,
.element-filter .filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.element-filter a {
  text-decoration: none;
}

.element-description {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
}

.element-filter .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.job-type {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.element-thumb {
  position: relative;
  overflow: hidden;
}

.element-text {
  position: absolute;
  top: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;

  padding: 63px 24px;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-filter .item:hover .element-text,
.element-filter .item:focus .element-text {
  top: 0;
}
